<%- include ../partials/header.ejs %>

 <div class="container">
    <h1><%= title %></h1>
    <h2>Author: <%= author %></h2>
  </div>
  <!-- Jumbotron -->
  <div class="jumbotron">        
    <h1> Komalpreet Kaur  <img src="./Assets/Images/logo.png" alt="logo"></h1>
    <img src="./Assets/Images/komal.jpg" alt="komal" srcset="" height="300px" width="300px">
    <hr>
    <p id="text" class="lead"></p>
    <hr class="my-4">
    <h3 id="h3"></h3>
    <ul>
      <li>I always admire my Parents and I want to do Something for them 
      so that, They should be Proud on me in Future.&nbsp; 
      </li>
      <li>By competing this Course, i will get to know&nbsp;how to create 
      html pages and get chance to know different skills. </li>
      <li>while doing i get to know about many new new sites of learning 
      the new stuff.</li>
      <li>After doing this Software course, Iwant to do a job in Software 
      company and want to make different Softwares which can help the 
      people in the coming Years. </li>
    </ul> class="bg"

    <u> <h3 id="h32"></h3> </u>
      <ul>
        <li> Movies</li>
        <li> Sleeping </li>
        <li>Studying </li>
        <li>Listening Songs </li>
      </ul>
  </div>

<%- include ../partials/footer.ejs %>
