<%- include ../partials/header.ejs %>

  <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1> <!--KOMALPREET KAUR--> <img src="./Assets/Images/logo.png" alt="logo" height="50px" width="50px"> </h1>
    <p class="lead">This Project is Made and Developed by Komalpreet Kaur</p>
    <p id="textContent"></p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a id="AboutButton" class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
  </div>
  

<%- include ../partials/footer.ejs %>
  